body{
    font-size: 25px;
}

ul, ol{
    padding: 0;
}

li{
    margin-left: 10px;
}

.tag{
    border: solid 2px;
    margin: 5px;
}
.tag label{
    color: white;
    font-size: 15px;
    vertical-align: top;
    margin-right: 5px;
    padding: 0px 5px 3px 3px;
}